.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 1.5rem;
    border-radius: 10px;
    color: $color-text-button;
    background-color: $color-button;
    cursor: pointer;
    transition: all 0.3s;
    &_big {
        width: 90px !important;
    }
    &_darken {
        background-color: $color-button-dark;
    }
    &_up {
        position: relative;
        top: -7px;
        left: -5px;
        font-size: 1.2rem;
    }
    &_up_hidden {
        display: none;
    }
    &_space {
        width: 215px;
    }
    &:hover {
        background-color: #6e9683;
    }
    &_active {
        background-color: #07e67a;
        border-radius: 50%;
    }
    &_active:hover {
        background-color: #07e67a;
        border-radius: 50%;
    }
}